<!-- Board for right side (controls rendered in parent) -->
      <div class="board-with-ledger">
        <div class="corner top-left"></div>
        <div class="coord-row top" [style.grid-template-columns]="'repeat(8, 52px)'">
          <div class="coord-item" *ngFor="let _ of board[0]; let c = index"
               [class.white]="(0 + c) % 2 === 0" [class.black]="(0 + c) % 2 === 1">{{ fileLabel(c) }}</div>
        </div>
        <div class="corner top-right"></div>

        <div class="coord-col left" [style.grid-template-rows]="'repeat(8, 52px)'">
          <div class="coord-item" *ngFor="let _ of board; let r = index"
               [class.white]="(r + 0) % 2 === 0" [class.black]="(r + 0) % 2 === 1">{{ rankLabel(r) }}</div>
        </div>

        <div class="chessboard" [style.grid-template-columns]="'repeat(8, 52px)'">
          <div *ngFor="let row of board; let r = index" class="row">
            <div *ngFor="let cell of row; let c = index"
                 class="cell"
                 [class.white]="(r + c) % 2 === 0"
                 [class.black]="(r + c) % 2 === 1"
                 [class.has-piece]="!!cell.piece && cell.valid"
                 [class.has-invalid-piece]="!!cell.piece && !cell.valid"
                 [class.dominated]="highlightPath && threatenedSquares[r][c] && !cell.piece"
                 [class.blocked]="highlightPath && threatenedSquares[r][c] && !cell.piece"
                 (click)="placeOrRemove(r,c)">
              <div class="piece" *ngIf="cell.piece && cell.valid" [style.background-image]="'url(' + getImage(cell.piece) + ')'"></div>
              <div class="piece invalid-piece" *ngIf="cell.piece && !cell.valid" [style.background-image]="'url(' + getImage(cell.piece) + ')'"></div>
            </div>
          </div>
        </div>

        <div class="coord-col right" [style.grid-template-rows]="'repeat(8, 52px)'">
          <div class="coord-item" *ngFor="let _ of board; let r = index"
               [class.white]="(r + 7) % 2 === 0" [class.black]="(r + 7) % 2 === 1">{{ rankLabel(r) }}</div>
        </div>

        <div class="corner bottom-left"></div>
        <div class="coord-row bottom" [style.grid-template-columns]="'repeat(8, 52px)'">
          <div class="coord-item" *ngFor="let _ of board[0]; let c = index"
               [class.white]="(7 + c) % 2 === 0" [class.black]="(7 + c) % 2 === 1">{{ fileLabel(c) }}</div>
        </div>
        <div class="corner bottom-right"></div>
      </div>