Nav bar - Chess Activities change that to All is well school of chess.
Use the testimonies from linked in 
for capture the shapes ensure the piece start position matches that of the book.
complete full functionality for ecommerce for book
for every puzzle I need a some sort of indication to highlight completed.


linkedin, google review page and WhatsApp
Admin control for book menu








